<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/synaptic/1.0.8/synaptic.js"></script>
    <script src="rnn.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    
<div ng-controller="ButtonsCtrl">
    <center>
        <h1> Where are the outliers</h1>
        <div class="btn-group">
            
            <label class="btn btn-success" data-ng-click="applyRnn(data, 0.2)" >0.2</label>
            <label class="btn btn-success" data-ng-click="applyRnn(data, 0.1)">0.1</label>
            <label class="btn btn-success" data-ng-click="applyRnn(data, 0.01)">0.01</label>
            <label class="btn btn-danger" data-ng-click="clear(to_plot)">Clear</label>
            <hr/>
        <div class="btn-group">
            <label class="btn btn-primary" data-ng-click="applyRnn(data, value)">Maual</label>
            <input ng-model="value"/>
            <hr/>
        </div>                    
        </div>

    </center>
    <table class="table">
        <tr>
            <td>
              Tw  
            </td>
            <td>
                Percentual hillary
            </td>
            <td>
                Sentiment Sentistrength avg (hillary)
            </td>            
            <td>
              Percentual trump  
            </td>
            <td>
                Sentiment Sentistrength avg (Trump)
            </td>                        
        </tr>
        <tr data-ng-repeat="item in to_plot" data-ng-class="{ danger: item.outlier}">
            <td>{{item._id}}</td>
            <td>{{item.value.just_hillary_percent|number:2}}</td>
            <td>{{item.value.just_hillary_sentiment_score_sentistrength_avg|number:2}}</td>
            <td>{{item.value.percent_trump|number:2}}</td>
            <td>{{item.value.just_trump_sentiment_score_sentistrength_avg|number:2}}</td>            
        </tr>
    </table>
	<h4> Refenreces:
		<br/>
		<a href="_blank" href='http://dx.doi.org/10.1007/3-540-46145-0_17'>
			Hawkins S, He H, Williams G, Baxter R (2002) Outlier detection using replicator neural networks. In: proceedings of the 4th International Conference on Data Warehousing and Knowledge Discovery. Springer, Berlin Heidelberg, pp 170–180
		</a>
		<hr/>
		<a target="_blank" href='https://github.com/cazala/synaptic'>
			Synaptic 
		</a>		
		<br/>
	</h4>
</div>
  </body>
</html>
